.multilevel-tabs:not(.multilevel-nested-tabs) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
}

.multilevel-tabs__link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}

.multilevel-tabs:not(.multilevel-nested-tabs) .multilevel-tabs__link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.multilevel-tabs:not(.multilevel-nested-tabs) .multilevel-tabs__link.is-active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.multilevel-nested-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.multilevel-nested-tabs .multilevel-tabs__link.is-active {
    font-weight: bold;
}

.multilevel-nested-tabs .multilevel-tabs__link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0d6efd;
    margin: 1px 0;
}

.multilevel-nested-tabs.secondary .multilevel-tabs__link {
    padding: 0.4rem 1rem;
    color: #000;
    background-color: #6ea8fe;
}

.multilevel-nested-tabs.tertiary .multilevel-tabs__link {
    padding: 0.3rem 1rem;
    color: #000;
    background-color: #cfe2ff;
}

.multilevel-nested-tabs.quaternary .multilevel-tabs__link {
    padding: 0.3rem 1rem;
    color: #000;
    background-color: transparent;
    border: 1px solid;
    border-color: #dee2e6;
}

.multilevel-nested-tabs.quinary {
    list-style: disc;
    padding-left: 28px;
}

.multilevel-nested-tabs.quinary .multilevel-tabs__link {
    padding: 0.2rem 0rem;
    color: #000;
    background-color: transparent;
    border: none;
}
