{#
/**
 * @file
 * Theme template for a multilevel local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 * - subtabs: The subtabs level for rendering.
 * - level: The menu level where the tab is rendered.
 *
 * Note: This template renders the content for each task item in
 * multilevel-menu-local-tasks.html.twig.
 *
 * @see template_preprocess_multilevel_menu_local_task()
 */
#}
<li{{ attributes.addClass('multilevel-tabs__tab', is_active ? 'is-active') }}>
  {{ link }}
  {% if subtabs %}
    {{ subtabs }}
  {% endif %}
</li>
