{#
/**
 * @file
 * Theme template to display multilevel local tasks.
 *
 * Available variables:
 * - menu_style: Boolean value indicating that tabs should be presented as nested menus.
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 * - tertiary: HTML list items representing tertiary tasks.
 * - quaternary: HTML list items representing quaternary tasks.
 * - quinary: HTML list items representing quinary tasks.
 *
 * Each item in these variables (primary, secondary, etc) can be individually
 * themed in multiple-menu-local-task.html.twig.
 */
#}
{% if menu_style %}
  <h2 class="visually-hidden">{{ 'Tabs'|t }}</h2>
  <ul {{ attributes.addClass('multilevel-tabs', 'multilevel-nested-tabs') }}>{{ primary }}</ul>
{% else %}
  {% set tabs = {
    'primary': primary,
    'secondary': secondary,
    'tertiary': tertiary,
    'quaternary': quaternary,
    'quinary': quinary
  }
  %}
  {% for key, level in tabs %}
    {% if level %}
      {%
        set classes = [
        'multilevel-tabs',
        'multilevel-tabs--' ~ key|clean_class,
      ]
      %}
      <h2 class="visually-hidden">{{ '@level tabs'|t({'@level': key}) }}</h2>
      <ul{{ attributes.addClass(classes) }}>{{ level }}</ul>
    {% endif %}
  {% endfor %}
{% endif %}
